In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import scipy.stats as stats

In [5]:

data = pd.read_csv('./crime.csv')

data.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,Latitude,Longitude
0,Other Theft,2003,5,12,16.0,15.0,9XX TERMINAL AVE,Strathcona,493906.5,5457452.47,49.269802,-123.083763
1,Other Theft,2003,5,7,15.0,20.0,9XX TERMINAL AVE,Strathcona,493906.5,5457452.47,49.269802,-123.083763
2,Other Theft,2003,4,23,16.0,40.0,9XX TERMINAL AVE,Strathcona,493906.5,5457452.47,49.269802,-123.083763
3,Other Theft,2003,4,20,11.0,15.0,9XX TERMINAL AVE,Strathcona,493906.5,5457452.47,49.269802,-123.083763
4,Other Theft,2003,4,12,17.0,45.0,9XX TERMINAL AVE,Strathcona,493906.5,5457452.47,49.269802,-123.083763

# Missing Values

In [6]:
# Checking for missing values, data types, and looking for duplicate entries
missing_data = data.isnull().sum()
data_types = data.dtypes
duplicate_count = data.duplicated().sum()

missing_data, data_types, duplicate_count

(TYPE                 0
 YEAR                 0
 MONTH                0
 DAY                  0
 HOUR             54362
 MINUTE           54362
 HUNDRED_BLOCK       13
 NEIGHBOURHOOD    56624
 X                    0
 Y                    0
 Latitude             0
 Longitude            0
 dtype: int64,
 TYPE              object
 YEAR               int64
 MONTH              int64
 DAY                int64
 HOUR             float64
 MINUTE           float64
 HUNDRED_BLOCK     object
 NEIGHBOURHOOD     object
 X                float64
 Y                float64
 Latitude         float64
 Longitude        float64
 dtype: object,
 48838)

## Handling Missing Values

In [11]:
cleaned_data = data.dropna(subset=['NEIGHBOURHOOD', 'HUNDRED_BLOCK'])

original_shape = data.shape
cleaned_shape = cleaned_data.shape

original_shape, cleaned_shape

((530652, 12), (474015, 12))

## Handling Duplicate Values

In [12]:
# Removing duplicate entries
cleaned_data_unique = cleaned_data.drop_duplicates()

# Displaying the shape of the data after removing duplicates
unique_cleaned_shape = cleaned_data_unique.shape
unique_cleaned_shape

(474014, 12)

In [13]:
type_categories = cleaned_data_unique['TYPE'].unique()
neighbourhood_categories = cleaned_data_unique['NEIGHBOURHOOD'].unique()

type_categories, neighbourhood_categories

(array(['Other Theft', 'Break and Enter Residential/Other', 'Mischief',
        'Break and Enter Commercial', 'Theft from Vehicle',
        'Vehicle Collision or Pedestrian Struck (with Injury)',
        'Vehicle Collision or Pedestrian Struck (with Fatality)',
        'Theft of Vehicle', 'Theft of Bicycle'], dtype=object),
 array(['Strathcona', 'Kerrisdale', 'Dunbar-Southlands',
        'Grandview-Woodland', 'Sunset', 'West End',
        'Central Business District', 'Hastings-Sunrise',
        'Victoria-Fraserview', 'Fairview', 'Kensington-Cedar Cottage',
        'West Point Grey', 'Shaughnessy', 'Renfrew-Collingwood',
        'Killarney', 'Riley Park', 'Arbutus Ridge', 'Musqueam',
        'Mount Pleasant', 'Kitsilano', 'Stanley Park', 'South Cambie',
        'Marpole', 'Oakridge'], dtype=object))

In [15]:
# Count of different types of crimes
crime_type_counts = cleaned_data_unique['TYPE'].value_counts()

# Distribution of crimes across neighborhoods
crime_neighbourhood_counts = cleaned_data_unique['NEIGHBOURHOOD'].value_counts()

crime_type_counts, crime_neighbourhood_counts

(TYPE
 Theft from Vehicle                                        170888
 Mischief                                                   70157
 Break and Enter Residential/Other                          60856
 Other Theft                                                52160
 Theft of Vehicle                                           38351
 Break and Enter Commercial                                 33841
 Theft of Bicycle                                           25620
 Vehicle Collision or Pedestrian Struck (with Injury)       21887
 Vehicle Collision or Pedestrian Struck (with Fatality)       254
 Name: count, dtype: int64,
 NEIGHBOURHOOD
 Central Business District    110944
 West End                      41352
 Fairview                      32161
 Mount Pleasant                30534
 Grandview-Woodland            27180
 Renfrew-Collingwood           26761
 Kitsilano                     26698
 Kensington-Cedar Cottage      24941
 Strathcona                    20917
 Hastings-Sunrise              18126
 Sunset                        17395
 Marpole                       13083
 Riley Park                    12520
 Victoria-Fraserview           10818
 Killarney                     10475
 Oakridge                       8035
 Dunbar-Southlands              7746
 Kerrisdale                     7447
 Arbutus Ridge                  6066
 West Point Grey                5870
 Shaughnessy                    5426
 South Cambie                   5212
 Stanley Park                   3775
 Musqueam                        532
 Name: count, dtype: int64)